<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button (click)="closeModal()"><ion-icon name="close-circle" size="large"></ion-icon> Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>What should I do if someone asks me to pay outside of the KitchenBrigade website?</h2>
  <p class="soft">Don't send them money, and let us know. We'll never ask you to pay for anything outside the website.</p>

  <h5>Report requests for offsite payments</h5>
  <p class="soft">If one of KitchenBrigade's experience personel asks you to pay him directly or through another company, report it to us.</p>

  <h5>How to report</h5>
  <p class="soft">Open the KitchenBrigade app and go to the Inbox. Click the + (plus) icon in the menu bar to start a conversation with us.</p>
</ion-content>
