:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background);
  
    --page-color: var(--ion-color-secondary);
  }

.booking {
    padding: 0px 15px;
}

.bookingType {
  margin: 15px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.bookingType h3 {
  margin: 5px 0;

  &.date {
    color: var(--ion-color-primary);
  }
}
.bookingType p {
  margin: 5px 0;
  font-size: 18px;
}
.bookingType p.desc {
  font-size: 14px!important;
}