 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon src="./assets/sample-icons/tabs/explore.svg"></ion-icon>
      <ion-label class="tab-title">Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon src="./assets/sample-icons/tabs/saved.svg"></ion-icon>
      <ion-label class="tab-title">Saved</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="bookings">
      <ion-icon src="./assets/sample-icons/tabs/kb.svg"></ion-icon>
      <ion-label class="tab-title">Bookings</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="notifications">
      <ion-icon src="./assets/sample-icons/tabs/chat.svg"></ion-icon>
      <ion-label class="tab-title">Inbox</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="profile">
      <ion-icon src="./assets/sample-icons/tabs/profile.svg"></ion-icon>
      <ion-label class="tab-title">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
