<ion-header>
    <ion-toolbar>
        <ion-title>All Recipes</ion-title>
        <ion-buttons slot="end">
            <ion-button href="app/saved">
              <ion-icon name="bookmark"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing recipes...">
    </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="loading === true">
      <div class="ion-padding custom-skeleton">
        <div class="skeleton-item">
          <ion-thumbnail size>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>

            <h5 class="recipeTitle">
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </h5>
        </div>

        <div class="skeleton-item">
            <ion-thumbnail size>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
  
              <h5 class="recipeTitle">
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </h5>
          </div>

          <div class="skeleton-item">
              <ion-thumbnail size>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
    
                <h5 class="recipeTitle">
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </h5>
            </div>
        </div>
    </div>

    <ion-row>
      <ion-col size="12" *ngFor="let item of getKeys(thumbs)" (click)="goTo(thumbs.get(item).id)">
        <div class="recipe ion-text-start">
            <app-aspect-ratio [ratio]="{w:1, h:1}">
                <app-image-shell [mode]="'cover'" animation="spinner" class="item-image" [src]="thumbs.get(item).image"></app-image-shell>
              </app-aspect-ratio>
            <h5 class="recipeTitle">
                <app-text-shell animation="bouncing" [data]="thumbs.get(item).title" lines="2"></app-text-shell>
            </h5>
          </div>
        </ion-col>
      </ion-row>    
</ion-content>

<ion-footer>
    <ion-row>
        <ion-col size="12">
            <ion-button *ngIf="loaded === true" (click)="next()" size="default" fill="clear">More recipes</ion-button>
        </ion-col>
    </ion-row>
  </ion-footer>
