<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/explore"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
       <ion-button color="danger" expand="block" (click)="startBooking()">Book now</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="travel-details-content">

  <ion-row class="image-row">
    <ion-col size="12">
      <app-image-shell [mode]="'cover'" animation="spinner" class="details-image" [src]="(package | async)?.image">
        <app-aspect-ratio [ratio]="{w:64, h:50}">
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
  </ion-row>
  <ion-row class="description-row">
    <ion-col size="12">
      <h3 class="details-name">
        {{ (package | async)?.name }}
      </h3>
      <p class="details-short-description">
        <app-text-shell animation="bouncing" [data]="(package | async)?.shortDesc"></app-text-shell>
      </p>
    </ion-col>

    <!-- <ion-col class="meta" size="12">
      <ion-row>
        <ion-col size="6">
          <ion-icon name="timer"></ion-icon>
          <h5 class="metaLabel">Duration</h5>
          <p class="metaValue"><app-text-shell animation="bouncing" [data]="details?.duration"></app-text-shell></p>
        </ion-col>
        <ion-col size="6">
          <ion-icon name="people" mode="md"></ion-icon>
          <h5 class="metaLabel">Group Size</h5>
          <p class="metaValue"><app-text-shell animation="bouncing" [data]="details?.groupSize"></app-text-shell></p>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6">
              <ion-icon name="chatbubbles" mode="md"></ion-icon>
              <h5 class="metaLabel">Taught In</h5>
              <p class="metaValue"><app-text-shell animation="bouncing" [data]="details?.languages"></app-text-shell></p>
          </ion-col>
          <ion-col size="6">
              <ion-icon name="albums" mode="md"></ion-icon>
              <h5 class="metaLabel">Cuisine</h5>
              <p class="metaValue"><app-text-shell animation="bouncing" [data]="details?.cuisine"></app-text-shell></p>
            </ion-col>
        </ion-row>
    </ion-col> -->
    
    <ion-col size="12">
        <h3 class="details-title">
            What you'll do
          </h3>
      <p class="details-description">
        <app-text-shell animation="bouncing" lines="6" [data]="(package | async)?.overview"></app-text-shell>
      </p>
      <ion-button color="primary" expand="block" (click)="startBooking()">Book now</ion-button>
    </ion-col>
    
    <ion-col size="12">
        <h3 class="details-title">
            Things to keep in mind
        </h3>

        <ion-list>

          <ion-item (click)="presentCancellationPolicy()" detail>
            <ion-label>
             Cancellation policy
            </ion-label>
          </ion-item>

          <ion-item (click)="presentCommsPolicy()" detail>
              <ion-label>
               Communication policy
              </ion-label>
          </ion-item>
        
          </ion-list>
     
    </ion-col>
    
  </ion-row>
  
</ion-content>