<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"><ion-icon name="close-circle" size="large"></ion-icon> Close</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>What's the KitchenBrigade cancellation policy?</h2>

  <h5>Standard cancellation policy</h5>
  <p class="soft">For a full refund, cancel at least 7 days before the experience is scheduled to start or within 24 hours of purchase.</p>

  <h5>Rescheduling</h5>
  <p class="soft">You can reschedule the date or time of the experience and up to 72 hours before the experience is scheduled to start.</p>

  <h5>Cancellation due to an emergency or weather</h5>
  <p class="soft">If the weather creates a safety concern on KitchenBrigade's part, you will be fully refunded. </p>
</ion-content>
