<ion-content class="ion-padding">

  <div *ngIf="userProfile?.firstname" routerLink="edit">
        <img class="profilePic" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
      <h1 class="userName">Hi {{ userProfile?.firstname }}</h1>
    </div>
    <div class="clearfix"></div>
      
  <ion-list class="links" lines="inset">

    <ion-item routerLink="edit">
      <h5 class="soft">Edit profile</h5>
    </ion-item>
      <ion-item routerLink="">
          <h5 class="soft">Refer a friend</h5>
        </ion-item>
        <ion-item routerLink="">
            <h5 class="soft">FAQs and help</h5>
          </ion-item>
          <ion-item routerLink="">
              <h5 class="soft">Give us feedback</h5>
            </ion-item>
            <ion-item routerLink="">
                <h5 class="soft">Rate the app</h5>
              </ion-item>
            <ion-item routerLink="">
                <h5 class="soft">Terms and conditions</h5>
              </ion-item>
            
  </ion-list>

  <ion-button style="margin-top: 50px" fill="solid" expand="block" color="danger" expand="block" (click)="logOut()">
          Log out
  </ion-button>

</ion-content>

<ion-footer>
    <p class="soft ion-text-center ion-padding-top">Version {{ VersionNumber }}({{ VersionCode }})</p>
</ion-footer>