<ion-header>
<!--   <ion-toolbar>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
  <ion-searchbar animated showCancelButton="never" placeholder="Tips/Recipes/Stories"></ion-searchbar>
 -->
</ion-header>

<ion-content class="ion-padding">

    <ion-row>
        <ion-col size="9">
            <h4>What experience are you looking for, Collin?</h4>
        </ion-col>
    </ion-row>

   
  <ion-row>
      <ion-col size="12" *ngFor="let package of packageList | async" routerLink="details/{{ package.packageId }}">
        <img class="package-img" src="{{ package.image }}" />
        <h3 class="package-title">{{ package.name }}</h3>
        <p class="package-sum">{{ package.shortDesc }}</p>
      </ion-col>
  </ion-row>

  <ion-row>
      <ion-col size="12">
          <h3>Fresh recipes</h3>
          <app-recipes></app-recipes>
      </ion-col>
        
  </ion-row>

  <ion-row>
      <ion-col size="12">
        <h3>Practical tips</h3>
      <app-posts></app-posts>
    </ion-col>
  </ion-row>


</ion-content>